<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/initaIe/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="%GITHUB_USERNAME" />
            <add key="Password" value="%GITHUB_TOKEN" />
        </GitHub>
    </packageSourceCredentials>
</configuration>